body{
    margin: auto;
    width: 60%;
    /* or you could do width: 60%; margin: auto; */
    font-family: 'Lora', serif;
}

    /* new div for th text-align: center; */
.topper {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}
.topper p{
    font-weight: lighter;
    font-style: italic;
    color: grey;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.topper ul {
    padding-left: 0;
}
.topper ul li{
    display: inline-block;
}
#tagline {
    font-style: italic;
}
h1 {
    color: #054b95;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 10px;
}
.img-p{
    overflow: auto;
}
img {
    max-width: 200px;
    width: 100%;
    float: right;
    margin-left:15px;
}
span.highlight {
    background-color: #0000FF;
    color: white
}
span.italic {
    font-style: italic;
}
.experiences p{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
#last-experience{
    border-bottom: none;
}
.experiences h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 4px;

}
.experiences h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 4px;
}
.experiences h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: italic;
    margin: 4px;
}

h2{
    color: white;
    background-color: lightblue;
    padding: 5px 3px;
    font-family: sans-serif;
    font-weight: normal;

    /* font
    size */
}

/* div Graphics border weight on the bottom line  */
/* -- class class id */
/* image-position in surrounding text pg 101 float right */
