body {
	margin: 20px;
	font-family: "Noto Serif", serif;

	/*
    font-family: 'Noto Serif', serif;
    font-family: 'Montserrat', sans-serif;
    */
}
.flex_container{
	display: flex;
	flex-wrap: wrap;
}
.intro{
	flex-grow: 1;
	min-width: 400px;
	min-height: 10px;
	margin:5px;
}
.main-content {
	min-width: 400px;
	min-height: 10px;
	flex-grow: 10;
	margin: 5px;
}
.centered-image{
	display: flex;
	justify-content: center;
}

#name {
	border-bottom: 1px solid #33485e;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Montserrat", sans-serif;
}

h1 {
	color: #33485e;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 0;
}

#nav-links ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

#nav-links ul li {
	display: inline-block;
}

#nav-links ul li::after {
	content: " | ";
}

.personal-title {
	text-align: center;
	color: #6a747e;
	font-style: italic;
}

.center-top-content {
	width: 65%;
	margin: 0 auto;
}



.highlight {
	background-color: #33485e;
	padding: 3px 5px;
	color: white;
	font-weight: bold;
}

.introduction {
	line-height: 1.6;
	max-width: 600px;
	margin: auto;
}

h2 {
	background-color: #33485e;
	color: white;
	padding: 5px;
}

h3 {
	font-weight: bold;
}

h4 {
	font-weight: 400;
}

h5 {
	font-weight: 400;
	font-style: italic;
}

.container-introduction {
	/* CLEARFIX HACK */
}

.container-experience h3,
.container-experience h4,
.container-experience h5 {
	margin: 5px 0;
}

.container-experience p {
	font-size: 14px;
	max-width: 600px;
}

img {
	max-width: 400px;
/*	width: 33%;*/


	/* To fix alignment */
	margin-top: 20px;
}
.container-education-skills ul{
	max-width: 600px;
}
